/* ! MAIN */
#home {
  margin: 0;
  padding: 0;
}
/* .bg {
  display: block;
  position: absolute;
} */
.content {
  position: relative;
  z-index: 1;
}
.marquee {
  font-family:'Times New Roman', Times, serif;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  opacity: 0.9;
}
.marquee span {
  display: inline-block;
  color: white;
  font-size: 200px;
  height: 60vh;
  animation: marquee 12s linear infinite;
  padding: 40px;
  z-index: 4;
  margin-top: 55px;
}  
.m1 {
  display: inline-block;
  padding: 0 20px 0 0;
}
.m2 {
  animation-delay: 14s;
  padding: 0 400px 0 0;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  } 100% {
    transform: translate(-100%, 0);
  }
}

/* Animation */
/* Dat.GUI override to prevent labels from scaling unnecessarily
  Replaces float-based layout with flex layout. */
.dg .cr > div {
  display: flex;
  
  > .c,
  > .property-name {
    float: none;
    clear: none;
  }
  
  > .property-name {
    width: 100px;
  }
  
  > .c {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    width: 100%;
    
    > .slider {
      float: none;
      width: 100%;
      margin-left: 0;
    }
    
    input[type=text] {
      width: 40px;
      margin-left: 6px;
    }
  }
}

.name-intro.imgDiv {
  display: none; /* ! */
  display: block;
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 2;
  opacity: 1;
  overflow: hidden;
  opacity: 0.999;
}
.main-img {
  height: 90vh;
}

@media screen and (max-width: 798px) {
  #home {
    height: 70vh;
  }
  .name-container {
    width: 99vw;
    display: flex;
    height: 50vh;
  }
  .marquee {
    text-align: top;
    /* transform: rotate(270deg); */
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .marquee span {
    display: inline-block;
    color: white;
    font-size: 250px;
    height: 60vh;
    animation: marquee 12s linear infinite;
    padding: 40px;
    padding-top: 10px;
    z-index: 4;
    margin-top: 20px;
  }  
  .name-intro.imgDiv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: 1;
    overflow: hidden;
  }
  .main-img {
    width: 100vw;
    margin-top: 25vh;
    left: 0;
    height: auto;
  }
}