:root {
  font-family: Consolas, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  font-size: 16px;
  color: rgb(107, 107, 107);
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: wheat;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ! Achievements */

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.achievement-card {
  margin: 5px;
  border-radius: 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.achievement-card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.achievement-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.achievement-card:hover:before {
  transform: translateX(-100%);
}
.achievement-card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.achievement-card:hover:after {
  transform: translateX(100%);
}

/* ! Certificate */

.certification-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: red;
}
.card {
  overflow: hidden;
  position: relative;
  height: 170px;
  width: 220px;
  text-align: center;
  margin: 5px;
  padding: 3px;
}
.card-content {
  padding: 5px;
  margin: 0px;
  overflow: visible;
}
.card__side {
  height: auto;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front-1 {
  background-image:  url(./assets/certificate_bg.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.card__side--back {
  margin: 0;
  padding: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.card__side--back-1 {
  background: white;
}

.card:hover .card__side--front-1 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
@media (max-width: 798px) {
  .card {
    height: 110px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
}

/* ! >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

body {
  background-color: black;
}

/* ! Skills animation */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.skill {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

/* Links styles */
.links {
  display: flex;
  justify-content: space-around;
}

.link-1, .link-2, .link-3, .link-4 {
  margin: 0 10px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-links.on-top {
  display: block;
}

@media (min-width: 601px) {
  .nav-links {
    display: block;
  }
}


