@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

:root {
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
  background-color: black;
  transition: background-color 1s;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0!important;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: wheat;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.background-animation {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 798px) {
  #root {
    margin: 0;
    padding: 2px;
  }
}

/* ! LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! ABOUT */

#about {
  margin: 0;
  padding: 0;
}

/* Achievements */

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.achievement-card {
  margin: 5px;
  border-radius: 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.achievement-card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.achievement-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.achievement-card:hover:before {
  transform: translateX(-100%);
}
.achievement-card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}
.achievement-card:hover:after {
  transform: translateX(100%);
}

/* Certificate */

.certification-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.card {
  overflow: hidden;
  position: relative;
  height: 170px;
  width: 220px;
  text-align: center;
  margin: 5px;
  padding: 3px;
}
.card-content {
  padding: 5px;
  padding-bottom: 0;
  margin: 0px;
  overflow: visible;
}
.card__side {
  height: auto;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front-1 {
  background-image:  url(./assets/certificate_bg.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}
.card__side--back {
  margin: 0;
  padding: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.card__side--back-1 {
  background: white;
}

.card:hover .card__side--front-1 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
@media (max-width: 798px) {
  .card {
    height: 110px;
    width: 150px;
    margin: 2px;
    padding: 3px;
    font-size: 12px;
  }
}

/* ! NAVBAR (Header) */

.myheader {
  color: white;
  padding: 4px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.myheader:hover {
  opacity: 1;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 0;
}

.mynavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.navigation-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 100;
}

.navigation-links li {
  margin: 0 10px;
  cursor: pointer;
}

.navigation-links li .help {
  display: inline-flex;
  font-size: 14px;
  margin: 5px;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navigation-links a:hover {
  color: wheat;
}

/* .mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
}

.mobile-navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.mobile-navbar a:hover {
  color: #f1f1f1;
}

.mobile-navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 3;
} */

/* <<<<<<<<<<<<<<<Nav to Right>>>>>>>>>>>>>> */

.scrolled.myheader {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 2;
}

.scrolled .head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrolled .mynavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.scrolled .navigation-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.scrolled .navigation-links li {
  margin: 1rem 0;
  margin: 30px 0 30px 0;
}

.scrolled .navigation-links li .help {
  display: none;
}

.scrolled .navigation-links a {
  /* transform: rotate(90deg); */
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
.scrolled .navigation-links a:hover {
  color: tan;
}
.scrolled #hamburger {
  margin-top: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.scrolled #hamburger i {
  font-size: 1.5rem;
  color: #000; 
}
.light .navigation-links a {
  color: wheat;
}
.light .navigation-links a:hover {
  color: tan;
  text-decoration: none;
}

@media screen and (max-width: 798px) {
  .myheader {
    display: none;
  }
  /* .mynavbar {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .navigation-links {
    z-index: 100;
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navigation-links.active {
    text-decoration: underline;
    display: flex;
  } */
}

/* ! MAIN */
#home {
  margin: 0;
  padding: 0;
}
/* .bg {
  display: block;
  position: absolute;
} */
.content {
  position: relative;
  z-index: 1;
}
.marquee {
  font-family:'Times New Roman', Times, serif;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  opacity: 0.9;
}
.marquee span {
  display: inline-block;
  color: white;
  font-size: 200px;
  height: 60vh;
  animation: marquee 12s linear infinite;
  padding: 40px;
  z-index: 4;
  margin-top: 55px;
}  
.m1 {
  display: inline-block;
  padding: 0 20px 0 0;
}
.m2 {
  animation-delay: 14s;
  padding: 0 400px 0 0;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  } 100% {
    transform: translate(-100%, 0);
  }
}

/* Animation */
/* Dat.GUI override to prevent labels from scaling unnecessarily
 Replaces float-based layout with flex layout. */
.dg .cr > div {
  display: flex;
  
  > .c,
  > .property-name {
    float: none;
    clear: none;
  }
  
  > .property-name {
    width: 100px;
  }
  
  > .c {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    width: 100%;
    
    > .slider {
      float: none;
      width: 100%;
      margin-left: 0;
    }
    
    input[type=text] {
      width: 40px;
      margin-left: 6px;
    }
  }
}

@media screen and (max-width: 798px) {
  
  .name-container {
    width: 85vw;
    display: flex;
    height: 50vh;
  }
  .marquee {
    text-align: top;
    transform: rotate(270deg);
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .marquee span {
    color: white;
    height: 400px;
  }
}

/* ! PROJECTS */
#projects {
  background-color: 'transparent';
}
#projects.focused {
  background-color: 'transparent';
  color: white;
}

.project-wrapper {
  margin: 1em;
}

.project-header {
  padding: 30px 30px 0;
  text-align: center;
}

.project-header__title {
  margin: 1em;
  font-size: 2.5em;
  text-align: left;
  font-weight: 500;
  line-height: 1.1;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  z-index: 1;
}
.project-card.left {
  flex: 1;
  float: left;
  display: block;
  text-align: right;
}
.project-card.right {
  flex: 1;
  width: 100%;
  height: 100%;
  float: right;
  display: block;
  text-align: left;
}

.project-image {
  width: 500px;
  pointer-events: none;
  height: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.project-card {
  position: relative;
  overflow: hidden;
}

.card__year, .card__cometOuter, .card__circle, .card__smallCircle, .card__orangeShine, .card__greenShine, .card__thankyou, .card__outer-year {
  position: absolute;
  pointer-events: none;
}

.card__greenShine {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  left: 20%;
  top: 0;
  bottom: 0;
  width: 400px;
  z-index: 1;
}

.card__thankyou {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  text-transform: uppercase;
  font-weight: 100;
  left: 33%;
  bottom: 20%;
  z-index: 2;
  font-size: 30px;
  color: black;
  text-align: center;
}
.project-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project-stack img {
  padding: 10px;
}

.project-title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.1;
  margin: 20px;
}
.project-desc {
  margin: 20px;
}
.project-btns {
  margin: 10px;
}
.project-button {
  background-color: wheat;
  color: black;
  margin: 10px;
  border: 1px solid black;
}
.project-button:hover {
  background-color: black;
  color: wheat;
}
.project-button::after {
  background-color: black;
  color: wheat;
  border: 1px solid wheat;
}

.focused .navigation-links {
  color: white!important;
}

@media screen and (max-width: 798px) {
  .project-cards {
    display: block;
    max-width: 100%;
    overflow: hidden;
  }
  .wrapper img {
    width: 100%;
  }
  .card__thankyou {
    left: 0;
    position: inherit;
  }
  .project-header__title {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
    text-align: left;
    font-weight: 500;
    line-height: 1.1;
  }
}

/* ! EXPERIENCE */

:root {
  --exp-color-1: white;
  --exp-color-2: white;
  --exp-color-3: wheat;
  --exp-color-4: black;
}

#experience {
  color: var(--exp-color-1);
  text-align: left;
  margin: 30px;
  padding: 20px;
  min-height: 70vh;
  background-color: var(--exp-color-4);
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.exp-title {
  margin: 1em;
  font-size: 2.5em;
  font-weight: 500;
  text-align: left;
  line-height: 1.1;
}
.xtra {
  display: inline-block;
  font-size: small;
  font-weight: 100;
  padding-left: 10px;
}
.exp-timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  background-color: var(--exp-color-4);
  list-style: none;
}

.exp-timeline:before {
  background-color: var(--exp-color-1);
  content: '';
  margin-left: 40px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.exp-timeline-event {
  position: relative;
}

.exp-timeline-event:hover .exp-timeline-event-icon {
  transform: rotate(-45deg);
  background-color: var(--exp-color-3);
}

.exp-timeline-event:hover .exp-timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 var(--exp-color-1);
}

.exp-timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  padding-top: 25px;
}

.exp-timeline-event-copy h3 {
  font-size: 1.75em;
}

.exp-timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.exp-timeline-event-copy strong {
  font-weight: 700;
}

.exp-timeline-event-copy p:not(.exp-timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.exp-timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: var(--exp-color-3);
  outline: 10px solid var(--exp-color-4);
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.exp-timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: var(--exp-color-4);
  font-size: 0.75em;
  background-color: var(--exp-color-3);
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

@media screen and (max-width: 798px) {
  #experience {
    color: var(--exp-color-1);
    text-align: left;
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
    min-height: 70vh;
    width: 80vw;
    
  }
  .exp-title {
    margin: 1em;
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
    line-height: 1.1;
  }
  .job-title {
    margin: 0;
  }
  .xtra {
    display: inline-block;
    font-size: small;
    font-weight: 100;
    padding-left: 10px;
  }
  .exp-timeline {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--exp-color-4);
    list-style: none;
  }
  
  .exp-timeline:before {
    background-color: var(--exp-color-1);
    content: '';
    margin-left: 0px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
  
  .exp-timeline-event {
    position: relative;
  }
  .exp-timeline-event h4 {
    margin: 0;
    padding: 0;
  }
  
  .exp-timeline-event:hover .exp-timeline-event-icon {
    transform: rotate(-45deg);
    background-color: var(--exp-color-3);
  }
  
  .exp-timeline-event:hover .exp-timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 var(--exp-color-1);
  }
  
  .exp-timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    padding-top: 25px;
  }
  
  .exp-timeline-event-copy h3 {
    font-size: 1.75em;
  }
  
  .exp-timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  .exp-timeline-event-copy strong {
    font-weight: 700;
  }
  
  .exp-timeline-event-copy p:not(.exp-timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
  
  .exp-timeline-event-icon {
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: var(--exp-color-3);
    outline: 10px solid var(--exp-color-4);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
  }
  
  .exp-timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: var(--exp-color-4);
    font-size: 0.75em;
    background-color: var(--exp-color-3);
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
  }
}

/* ! CONTACT */
#contact {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  display: inline-block;
}
.contact-container {
  flex: 1;
  color: white;
  text-align: right;
  margin-right: 3vw;
  padding: 20px;
  min-height: 70vh;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}
.contact-title {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}
.contact-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
  text-align: right;
}
.contact-info div {
  margin: 0;
  width:  60px;
}
.contact-info a {
  color: wheat;
  text-decoration: none;
}
.contact-info a:hover {
  color: tan;
  text-decoration: none;
}
.contact-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* overflow: hidden; */
  padding: 0;
  text-align: right;
}
.contact-form-f {
  width: 40vw;
  margin-top: 20px;
}
.contact-form-f div {
  margin: 10px 0;
  color: white;
}
.contact-form-f input, .contact-form-f textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}
.contact-form-f input::placeholder, .contact-form-f textarea::placeholder {
  color: white;
}
.contact-form-f input:focus::placeholder, .contact-form-f textarea:focus::placeholder {
  color: black;
}
.contact-form-f textarea {
  height: 150px;
}
.contact-form-f button {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: wheat;
  color: black;
  cursor: pointer;
}
.contact-form-f button:hover {
  background-color: black;
  border: 1px solid wheat;
  color: wheat;
}
.contact-form-f input:focus, .contact-form-f textarea:focus {
  color: black;
  box-shadow: none;
  background-color: wheat;
}
.contact-form-f button:disabled {
  background-color: gray;
  color: black;
  border: 1px solid transparent;
  cursor: not-allowed;
}
#alert {
  height: 10px;
  color: green;
}

.icon img {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 20%;
}
.link-container {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mylinks {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 798px) {
  .contact-container {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .contact-info {
    justify-content: center;
    text-align: center;
  }
  .contact-form {
    justify-content: center;
    text-align: center;
  }
  .contact-form-f {
    width: 90vw;
  }
  .contact-form-f input, .contact-form-f textarea {
    width: 90%;
  }
  .contact-form-f button {
    width: 95%;
  }
  .icon img {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .link-container {
    width: 100%;
  }
  .mylinks {
    width: 100%;
  }
  
}